---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: matterbuild

bases:
  - ../../base/app
  - ../../base/config

resources:
  - ingress.yaml

patchesStrategicMerge:
  - patches/deployment-cert-keys.yaml

secretGenerator:
  - name: cert-keys
    files:
      - ca.crt
      - id_rsa

images:
  - name: mattermost/matterbuild
    newName: mattermost/matterbuild
    newTag: 0.12.0

