version: 2.1

orbs:
  tools: gotest/tools@0.0.13

jobs:
  lint:
    docker:
      - image: circleci/golang:1.13
    steps:
      - checkout
      - tools/install-golangci-lint:
          version: 1.31.0
      - run: make check-style

  test:
    docker:
      - image: circleci/golang:1.13
    steps:
      - checkout
      - run: make test

  build:
    docker:
      - image: circleci/golang:1.13
    steps:
      - checkout
      - run: make build

  docker:
    parameters:
      target:
        type: string
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build docker image
          command: |
            if [ -z "<<parameters.target>>" ]; then
              echo "'target' is missing"
              exit 1
            fi
            if [ "<<parameters.target>>" == "pr" ]; then
              export TAG_NAME=$(echo "${CIRCLE_SHA1}" | cut -c1-8)
              DOCKER_TAG=${TAG_NAME} make docker
            else
              echo ${DOCKER_PASSWORD} | docker login --username ${DOCKER_USERNAME} --password-stdin
              if [ "<<parameters.target>>" == "edge" ]; then
                DOCKER_TAG=edge make docker push
              elif [ "<<parameters.target>>" == "latest" ]; then
                export TAG_NAME=$(echo "${CIRCLE_TAG}" | tr -d 'v')
                DOCKER_TAG=${TAG_NAME} make docker push
                docker tag mattermost/matterbuild:${TAG_NAME} mattermost/matterbuild:latest
                DOCKER_TAG=latest make push
              fi
            fi

workflows:
  version: 2
  untagged-build:
    jobs:
      - lint
      - test
      - build:
          requires:
            - lint
            - test
      - docker:
          name: docker-pr
          context: matterbuild-docker
          target: pr
          requires:
            - build
          filters:
            branches:
              ignore: master
      - docker:
          name: docker-edge
          context: matterbuild-docker
          target: edge
          requires:
            - build
          filters:
            branches:
              only: master

  release-build:
    jobs:
      - docker:
          name: docker-latest
          context: matterbuild-docker
          target: latest
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
